version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: 'php_8.4'
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - './:/var/www:delegated'
      - ./php-overrides.ini:/usr/local/etc/php/conf.d/99-overrides.ini
      - vendor:/var/www/vendor
      - storage:/var/www/storage

    depends_on:
      - mysql
  webserver:
    image: 'nginx:alpine'
    container_name: nginx_server
    restart: unless-stopped
    ports:
      - '8000:80'
    volumes:
      - './:/var/www:ro,cached'
      - './docker/nginx/default.conf:/etc/nginx/conf.d/default.conf'
    depends_on:
      - app
  mysql:
    image: 'mysql:8.0'
    container_name: mysql_db
    restart: unless-stopped
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - 'dbdata:/var/lib/mysql'
  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI
volumes:
  dbdata: null
  vendor: null
  storage: null